header, nav, main, footer, aside {display: block; margin-left:10px;margin-right:10px;}

#wrapper {position: fixed;
          background-color: aqua;
          width: 800px;
          margin-top:-5px;
    }

header {background-color: lightcoral;
        text-align: center;
        height: 100px;
}

nav {background-color:yellow;
     margin-bottom:5px;
     float:left;
     width:150px;
     }

main {background-color:lightgreen;
      margin-left:165px; 
      
      }

footer {background-color:lightgray; 
        margin-left:165px;
        margin-top:-16px;
        clear:left;}


nav {width:150px;} 

nav ul {list-style-type:none}

nav a {text-decoration: none}

nav li {margin-left:-35px; 
        margin-bottom:6px}

nav a:hover {color:red; 
             font-weight:bold}
